<div class = "container"> 
	<div class = "well">
	<div class = "page-header">
  <h3 class = "new property">New Property</h3>
</div>
 	
	<%= form_for @property do |property_form| %>
  	<%= property_form.label :address %> <br>
  	<%= property_form.text_field :address%><br>
  
  	<%= property_form.label :postal_code %> <br>
  	<%= property_form.text_field :postal_code%> <br>
  
  	<%= property_form.label :province_state %> <br>
  	<%= property_form.text_field :province_state%><br>
  
  	<%= property_form.label :country %> <br>
  	<%= property_form.text_field :country%><br>
  
  	<%= property_form.label "Number of bathrooms?" %> <br>
  	<%= property_form.text_field :bathrooms%><br>

  	<%= property_form.label "Number of bedrooms?" %> <br>
  	<%= property_form.text_field :bedrooms%><br>
  
    <%= property_form.label "Furnished?" %> <br>
    <%= property_form.text_field :furnished?%><br>

    <%= property_form.label "Price of Rent" %> <br>
    <%= property_form.text_field :price%><br>


   
  <%= property_form.submit%>
  

  <% end %>

		
	</div>

</div> 