<% content_for :title, "New Property" %>
<div class="row">

  <fieldset>
    <legend><h1>New Property</h1></legend>
     <div class="large-6 columns">

<%= form_for @property do |property_form| %>
    <%= property_form.label :address %> 
    <%= property_form.text_field :address%> 
    

    
    <%= property_form.label :postal_code %>
    <%= property_form.text_field :postal_code%>
    

    
    <%= property_form.label "Province" %>
    <%= property_form.text_field :province_state%>
    

    
    <%= property_form.label :country %>
    <%= property_form.text_field :country%>
    

    
    <%= property_form.label "Number of bathrooms?" %>
    <%= property_form.text_field :bathrooms%>
    

    
    <%= property_form.label "Number of bedrooms?" %> 
    <%= property_form.text_field :bedrooms%>
    


    <%= property_form.label "Furnished?" %> 
    <%= property_form.text_field :furnished?%> 

    <%= property_form.label "Price of Rent" %> 
    <%= property_form.text_field :price%>




  </div>

  <div class="large-6 columns">
        <%= property_form.file_field :image %>
  </div>
<%= property_form.submit class: 'button expand'%>
</fieldset>
  
</div>

  
  

  <% end %>

