<% content_for :title, @property.address %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false", "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js",  "map.js"%>

<script id="property" type="text/json">
    <%= @property.to_json %>
</script>

<br>
<div class="row">
<div class = "row">
  <div class="small-10 columns" id="background">
  	  <h1><%=@property.address %> </h1>
<blockquote><%= @property.postal_code%> <%=@property.city%>, <%= @property.province_state%>. </blockquote>

  </div>


<div class="small-2 columns">
<h1>
<small class = "data-dropdownn">
<a class = "button" data-dropdown="drop2">Contact</a>
<div id="drop2" data-dropdown-content class="f-dropdown content ddown">
  <p>Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
</div>
</h1>

</div>


  </small>

  </h1>

</div>

</div>
</div>
<br>
<div class="row">

 <style>
      #map_canvas {
      	height: 300px;
        width: 100%;
      }
    </style>


<div id="map_canvas"></div>
</div>


<br>
<div class="row">
<h4>Photos</h4>
  <% @property.photos.each do |photo|%>
  <%= image_tag photo.image_url %>
  <% end %>

	</div>
<div class="row">
  <div class="small-3 columns">
  
  	<h4>Info</h4>
  	<ul>
  <li>$<%= @property.price%> a month</li>
  <li> <%= @furnished%></li>
  <li> Bathrooms: <%= @property.bathrooms%></li>
  <li> Bedrooms: <%= @property.bedrooms%></li>
  <li> Move in Date: <%= @property.move_in_date %> </li>
  <li>Square Feet: <%= @property.square_feet %> </li>
  <li>Minimum Lease Duration: <%= @property.minimum_lease_duration%> months </li>
  </ul>

  </div>
  <div class="small-9 columns">
  <h4>Description</h4>
  <%= @property.description%>
  </div>

</div>

</div>
